<div class="spectate-wrapper">
  <div class="spectate-banner">
    <i class="fa-solid fa-eye"></i>
    <span>{{loc.spectating}} <strong>{{bannerText}}</strong></span>
  </div>
  <div class="spectate-content"></div>
</div>
